*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: pink;
}



/*Profile*/
.btn a{
	text-decoration: none;
	color: #fff;
}

#port-jumbo{
	border:8px solid pink;
	padding: 8em 4em;
	border-radius: 10px;
	width: 60%;
	/*background-color: #333;*/
}

#jumbo-div{
	height:  100vh;	
	padding-top: 10%;
	background-color: #333;
	border-radius: 0;
	margin: 0;
	background-image: url(./../images/1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron h1{
	color: #f2f2f2;
	font-family: 'Courgette', cursive;

}

.jumbotron p{
	color: pink;

}

#btn-cv{
	background-color: pink;
	text-shadow: 1px 1px black;
	font-weight: bold;
}

/*capstone*/

.nyaw-button{
	border:2px solid pink;
	background-color: rgba(244,194,194, 0.2);

}
.nyaw-button>a{
	color:black;


}

.cap-img{
	width: 100%;
	height: 20vw;
	object-fit: cover;

}

/*about me*/

#about-me h3{
	background-color: pink;
}


#about-me-text{
	padding-top: 20px;
	padding-bottom: 20px;
}


footer{
	background-color: pink;
}


/*media queries*/

/*mobile phone*/
@media only screen and (max-width: 400px){
	#jumbo-div{
		height: 100%;
	}
	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1{
		width: 100%;

	}

	.cap-img{
		width: 100%;
		height: 50vw;
		object-fit: cover;

}

}



/*tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px){

}

/*laptops*/
@media only screen and (max-width: 961px){

}